# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# But include content.out though, it's not executable.
!content.out

# CodeBlocks and Borland Compiler stuff
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds
*.save
*.depend
*.layout


# Gnu G++ Stuff from CodeBlocks.
rwapWiki/bin/*
wikiPager/bin/*
listWiki/bin/*

#Other non-essential stuff.
*.pdf
*.css

#Except the README.pdf
!README.pdf

# Ignore the text based export of the MySql database - for now.
rwapWiki/content.utf8.txt

#Ignore the Pages folder.
wikiPager/Pages/*

